.box_container1{
    width:500px;
    height: 140px;
    border: 3px solid skyblue;
    border-radius: 5px;

    /* flex */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.box1{
    width:120px;
    height: 120px;
    border: 1px solid skyblue;
    border-radius: 3px;
    /* flex */
    display:flex;
    justify-content: center;
    align-items: center;
}


.box_container2{
    width:600px;
    height: 600px;

    /* flex */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.box_first{
    /* width:600px; */
    /* height: 200px; */
    /* border: 2px solid skyblue; */
    /* border-radius: 3px; */
    /* flex */
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.box2{
    width:150px;
    height:150px;
    border: 1px solid skyblue;
    border-radius: 3px;
    margin:1px;
    /* flex */
    display:flex;
    justify-content: center;
    align-items: center;
}
.box_container3{
    width:600px;
    height: 600px;
    /* border: 3px solid skyblue;
    border-radius: 5px; */
    /* flex */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_second1{
    width:600px;
    /* height: 200px; */
    /* border: 2px solid skyblue; */
    /* border-radius: 3px; */
    /* flex */
    display:flex;
    /* flex-direction: row; */
    justify-content: flex-start;
    align-items: center;
}
.box_second2{
    width:600px;
    /* height: 200px; */
    /* border: 2px solid skyblue; */
    /* border-radius: 3px; */
    /* flex */
    display:flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}
.box_second3{
    width:600px;
    /* height: 200px; */
    /* border: 2px solid skyblue; */
    /* border-radius: 3px; */
    /* flex */
    display:flex;
    /* flex-direction: row; */
    justify-content: flex-end;
    align-items: center;
}
 .box3{
    width:150px;
    height:150px;
    border: 1px solid skyblue;
    border-radius: 3px;
    margin:1px;
    /* flex */
    display:flex;
    justify-content: center;
    align-items: center;
}
