
body{
    font-family: 'Noto Sans KR', sans-serif;
    /* letter-spacing은 em 을 생략하면 안됩니다. 
    모든 사이즈의 간격이 같을 경우에는 body tag안에 넣어주면 모든 곳에 동일하게 적용 된다.
    */
    letter-spacing: -0.015em;
}

/* Font size */
/* fs- 나만의 룰 이렇게 일관적으로 사용하는게 좋다. */
.fs-tiny{
    font-size: 12px;
    line-height: 1.33333333;
}

.fs-small{
    font-size: 14px;
    line-height: 1.4285714286;
}

.fs-base{
    font-size: 16px;
    line-height: 1.5;
}

.fs-medium{
    font-size: 18px;
    line-height: 1.55555556;
}

.fs-large{
    font-size: 20px;
    line-height: 1.6;
}

.fs-h2{
    font-size: 28px;
    line-height: 1.42857;
}

.fs-h1{
    font-size: 34px;
    line-height: 1.4117647;
}


/* font-weight */

.fw-light{
    font-weight: 300;
}

.fw-regular{
    font-weight: 400;
}

.fw-medium{
    font-weight: 500;
}

.fw-bold{
    font-weight: 700;
}

/* colors */
/* 규칙은 내가 만들기 나름 */
.text-dark{
    color: #1f2d3d;
}

.text-primary{
    color: #3c4858;
}

.text-secondary{
    color: #8492a6;
}

.text-tertiary{
    color: #c0ccda;
}

.text-white{
    color: #fff;
}

.text-success{
    color: #13ce66;
}

.text-error{
    color: #ff5216;
}

.text-info{
    color: #009eeb;
}