/* p{
    border-width: 10px;
    border-style: solid;
    border-color: red;
} */
p,a{
    border: 10px solid red;
    padding: 20px;
    margin: 40px;
    width: 300px;
}
*{
    box-sizing: border-box;
}
div{
    margin: 10px;
    width: 150px;
}
#small{
    border: 10px solid black;
}
#large{
    border: 30px solid black;
}
/* #heading1{
    border: 1px solid red;
    margin: 100px;
}
#heading2{
    border: 1px solid red;
    margin: 100px;
} */
h1{
    border: 1px solid red;
    margin: 100px;
    padding: 10px;
}