#parent, #other, #grand{
    border: 5px solid tomato;
}
 
#grand{
    position: relative;
}

#me{
    background-color: black;
    color: white;
    position: absolute;
    /* position: relative; */
    left: 0px;
    top: 0px;
}
 