html{
    border: 1px solid gray;
}
body div{
    border: 5px solid tomato;
    margin: 10px;
}
/*     bottom: 100px; */
/*     right: 100px; */

#me{
    position: relative;
    left: 100px;
    top: 100px;
}
/* #me{
    position: static;
    left: 50px;
    top: 100px;
} */