*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1.5;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-color: #eff2f7;
    color: #1f2d3d;
}

body::after{
    content: "@kkojae_";
    display: block;
    margin-top: 50px;
    font-size: 12px;
    font-weight: 600;
}

/* dl tag는 dt dd 가 있어야 합니다 반드시!! 그래서, dt tag에 sr-only class를 선언해주고, 보이진 않지만, 읽기 전용으로 만들어 주는 것! */
/* display none만 설정하면 스크린리더도 읽어주지 못합니다. */
/* display: none; */
/* width height 값이 0이면 스크린리더가 읽어주지 않는다. */
/* overflow hidden 우리가 설정한 범위를 벗어나는 녀석들은 가려준다. 1px 1px 밖으로 삐쭉 나오면 가려주기! */
/* opacity 0 투명도를 0으로 만들어 사라지게 만든다. */
.sr-only{
    position: absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.card{
    display: flex;
    width: 100%;
    max-width: 840px;
    background-color: #fff;
    padding: 24px;
}

.card-image{
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px;
    background-image: url("./assets/img-house.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 6px;
    margin-right: 24px;
}

.card-content{
    flex-grow: 1;
}

.card-image .like-button{
    position: absolute;
    top: 12px;
    left: 12px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: none;    
    background-color: #fff;
    background-image: url("./assets/icon-favorite.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px 24px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.plus-badge{
    display: inline-block;
    padding: 1px 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.428571;
    background-color: #92174d;
    border-radius: 4px;
    color: #fff;
    text-transform: uppercase;
    margin-right: 6px;
}

.property-type span{
    font-size: 16px;
    line-height: 1.25;
    color: #7d858f;
}

.property-rate{
    font-size: 16px;
    line-height: 1.25;
}

.property-rate strong{
    font-weight: 400;
    color: #151b26;
}

.property-rate span{
    color: #7d858f;
}

.property-rate::before{
    content: "";
    position: relative;
    top: 2px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("./assets/icon-star.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.card-title{
    font-size: 20px;
    line-height: 1.6;
    color: #151b26;
    font-weight: 400;
    margin-bottom: 16px;
}

.property-detail{
    font-size: 14px;
    line-height: 1.14285;
    color: #7d858f;
}

/* 가상요소는 기본적으로 inline 요소, */
.property-detail dd span::after{
    content: "•";
    margin: 0 8px;
}

/* property-detail 안에 있는 dd 안에 있는 span의 마지막 자식의 가상요소는 content의 내용도 없고 margin도 없애라. */
.property-detail dd span:last-child::after{
    content: "";
    margin: 0;
}

/* property-detail 안에 있는 div의 첫번째 자식의 margin-bottom을 8px준다. */
.property-detail div:first-child{
    margin-bottom: 8px;
}