*{
    box-sizing: border-box;
    margin: 0;
}

/* transform의 property는 너무 다양하고 많지만.... 자주 사용하는 3가지만 배워보도록 합시다! 
translate(x, y) : 어디로 이동할지?! x,y,z
이동 시켜주지만 원래 있던 위치가 사라지지 않는다.

scale(x,y) : 키우는거
-0.8 : 본인 사지으 *-0.8
1 : 자신 본인의 사이즈
2 : 본인의 사이즈 * 2
1.3 : 본인의 사이즈 *1.3
scale 역시 원래 있던 위치를 기억하고 있다.

rotate(ndeg) : 각도 돌리기

*/
body{
    /* display: flex;
    justify-content: center;
    align-items: center; */

    width: 100%;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;

}

.box{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    background-color: #0066ff;
    box-shadow: 7px 7px 14px #005ae0, 0px 0px 14px #0072ff;
    /* transform: translate(40px, 50px); */
    transform: rotate(45deg);
}

p{
    background-color: #ffc82c;
}